name: CI

on:
  push:
    tags:
      - '*'

  workflow_dispatch:

env:
  IMAGE_NAME: node-github-action-cli
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Get the tag
        id: get_tag
        run: echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}

      - name: Build Image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: latest ${{ steps.get_tag.outputs.TAG }}
          containerfiles: |
            ./Dockerfile

      - name: Push To GHCR
        id: push
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --disable-content-trust

  deploy:
    runs-on: ubuntu-latest
    needs: publish-gpr
    steps:
      - name: Get the tag
        id: get_tag
        run: echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}

      - name: Deploy project
        id: deploy
        uses: zeet-co/zeet-deploy-action@v1
        with:
          deploy_key: ${{ secrets.ZEET_TOKEN }}
          project: zeet-demo/zeet-demo-node
          image: ghcr.io/zeet-demo/${{ env.IMAGE_NAME }}:${{ steps.get_tag.outputs.TAG }}

      - name: Echo dashboard link
        run: "echo Dashboard: ${{ steps.deploy.outputs.link }}"

  run-command:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Run command
        id: run
        uses: zeet-co/zeet-run-action@v1
        with:
          deploy_key: ${{ secrets.ZEET_TOKEN }}
          project: zeet-demo/zeet-demo-node
          command: whoami

      - name: Echo dashboard link
        run: echo ${{ steps.run.outputs.link }}
